{% load static %}

<html>
    <head>
    	<title> Sherry's Blog </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Antic Slab' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="{%static 'css/blog.css'%}">
    </head>
    <body>
        <div class="pageheader">
            {% if user.is_authenticated %}
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <ul>
            <li><a href="/"><img src="{%static 'img/hkflag.png'%}" style="width:50px; height:35px"></a></li>
            <li><a href="/"> About </a></li>
            <li><a href="/"> Contact </a></li>
        </div>
        
        <div class="container-fluid text-center">

            {% block content %}
            {% endblock %}

    </div>
    </body>
</html>